*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  margin: auto;
  padding: 133px 30px;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  max-inline-size: 1140px;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  block-size: 54px;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-block-size: 298px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  block-size: 100%;
  inline-size: 100%;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
}

.result__video {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.content__list-item:not(:last-child) {
  margin-block-end: 30px;
}

.content__video-card {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
}

.content__video-card-description-container {
  inline-size: 100%;
}

.search-form__fieldset-title {
  margin-block-end: 5px;
  font-weight: 400;
  font-size: inherit;
  line-height: normal;
}

.title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
}

.content__video-card-title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  font-weight: 400;
  line-height: 16.2px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: inline-flex;
  gap: 5px;
  width: fit-content;
  cursor: pointer;
}

.search-form__textfield {
  border-inline-start: none;
  border-inline-end: none;
  border-block-start: 1px solid #fff;
  border-block-end: 1px solid #fff;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
  font-size: inherit;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  inline-size: 19px;
  block-size: 19px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.button {
  height: 34px;
  border: 1px solid #fff;
  color: #fff;
  font-family: Fira Sans Condensed;
  font-weight: 700;
  font-size: inherit;
  line-height: normal;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.more-button {
  margin: 2px;
  inline-size: 399px;
}

.search-form__submit-button {
  align-self: self-end;
  inline-size: 194px;
}

.search-form__textfield:active {
  border: none;
  outline: 1px solid #fff;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  background-color: #fff;
  inline-size: 15px;
  block-size: 15px;
}

.search-form__label:has(.search-form__checkbox):hover {
  text-decoration: underline;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:active {
  background: #545050;
}

.button:hover {
  text-decoration-line: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link {
  display: block;
  margin: 2px;
}

.content__card-link:active {
  background: #545050;
}

.content__card-link:hover {
  text-decoration-line: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link_current {
  background: #545050;
}
